<div class="list-group shadow-sm">
    <div class="list-group-item bg-secondary text-white text-center font-weight-bold mb-3">
        <i class="fas fa-user"></i> Hesap Menüsü
    </div>
    <a asp-area="" asp-controller="Account" asp-action="Index" class="list-group-item list-group-item-action active">
        <i class="fas fa-info-circle"></i> Bilgiler
    </a>
    <a asp-area="" asp-controller="Order" asp-action="GetShippedOrders" class="list-group-item list-group-item-action" )">
        <i class="fas fa-box"></i> Kargodaki Siparişler
    </a>
    <a asp-area="" asp-controller="Order" asp-action="GetDeliveredOrders" class="list-group-item list-group-item-action" )">
        <i class="fas fa-history"></i> Tamamlanmış Siparişler
    </a>
</div>