<!DOCTYPE html>
    <html>
    <head>
        <title>Login Template</title>
    </head>
    <body style="background-color:red; color:white; font-family: 'Segoe UI';height:100vh;">
        <div style="display:flex;flex-direction:column;height:100%; align-items: center; justify-content:space-between;">

           <div>LOGIN MENU</div>


           @RenderBody()


           <div>LOGIN FOOTER</div>
        </div>
    </body>
    </html>